footer{
    width: 100%;
    height: 100px;
    text-align: right;
    padding: 0 5%;
    margin: 0;
    border-top: 2px solid lime;
    box-sizing: border-box;
}

footer p {
    margin: 37px 0;
}

footer a {
    color: lime;
    text-decoration: none;
}

footer a:hover {
    color: limegreen;
}

@media (max-height: 600px) {
    footer {
        position: relative;
    }
}