footer{
    width: 90%;
    position: fixed;
    bottom: 0;
    text-align: right;
    padding: 2% 5%;
    border-top: 2px solid lime;
    display: block;
}

footer a {
    color: lime;
    text-decoration: none;
}

footer a:hover {
    color: limegreen;
}

@media (max-height: 600px) {
    footer {
        position: relative;
    }
}