header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 5%;
  box-sizing: border-box;
  border-bottom: 2px solid lime;
  background-color: #222;
}

header button, .navbar-header a {
  margin: auto 0;

  background-color: inherit;
  border-radius: 50%;

  border-style: none;
}

header button a,
.navbar-header a {
  font-weight: bold;
  font-size: x-large;
  color: #ddd;
  transition: 0.3s;
  cursor: pointer;
  text-decoration: none;
}

.navbar-header .active {
  color: green;
}

.navbar-header {
  width: 50%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

header button a:hover,
.navbar-header a:hover {
  color: lime;
}

header span {
  display: flex;
  justify-content: center;
  width: 400px;
}

header span h1{
  margin-left: 20px;
}

header img {
  max-width: 100px;
}

header h1 {
  margin: auto 0;
}

@media (max-width: 1000px) {
  header {
    margin: 0;
    padding: auto;
    flex-direction: column;
  }

  header span {
    width: 100%;
  }

  .navbar-header {
    width: 100%;
  }
}