html body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #222;
  color: #ddd;
}

html body h1 {
  font-size: 2em;
}

html body h2 {
  font-size: 1.8em;
}

html body h3 {
  font-size: 1.5em;
}

html body h4 {
  font-size: 1.3em;
}

html code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

select[type="text"],
option {
  width: 200px;
  border-radius: 5px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
select[type="text"],
option {
  margin-top: 10px;
  width: 200px;
  background-color: #111;
  height: 30px;
  color: limegreen;
  text-align: center;
  font-weight: bold;
  transition: 0.3s;
  box-sizing: border-box;
  display: inline-block;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"] {
  border-radius: 15px;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
select[type="text"]:focus,
select[type="text"]:hover,
input[type="text"]:hover,
input[type="password"]:hover,
input[type="email"]:hover,
input[type="tel"]:hover {
  border-style: solid;
  border-width: 2px;
  background-color: #fff;
  color: #000;
  border-color: lime;
}

html body .error {
  color: #f5473b;
  margin: 10px 0;
  display: block;
}

html body .sucess {
  color: limegreen;
  margin: 10px 0;
  display: block;
}

html body input[type="button"],
html body .submit-button {
  transition: 0.3s;
  width: 160px;
  height: 30px;
  margin: 0;
  background-color: #111;
  color: limegreen;
  border-radius: 15px;
  font-weight: bold;
}

html body input[type="button"]:hover,
html body input[type="button"]:disabled,
html body .submit-button:disabled,
html body .submit-button:hover {
  background-color: #ddd;
  border-color: limegreen;
  border-width: 3px;
  border-style: solid;
  color: #222;
  cursor: pointer;
}

html body input[type="button"]:disabled,
html body .submit-button:disabled {
  cursor: default;
}

html body input[type="button"].button-delete,
html body input[type="button"].button-add {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  padding: 0;
  margin: auto 0;
}

html body input[type="button"].button-delete {
  height: 60px;
  width: 60px;
  background-color: #222;
  border-style: none;
  color: #f5473b;
  font-size: 40px;
}

html body input[type="button"].button-add:hover {
  background-color: lime;
  border-color: limegreen;
  color: darkgreen;
}

html body input[type="button"].button-delete:hover {
  color: #fff;
  font-size: 44px;
}

html body input[type="button"].button-add {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: limegreen;
  border: #000;
  color: #222;
}

.html body loader {
  border: 10px solid lime;
  border-top: 10px solid green;
  border-bottom: 10px solid green;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1.5s linear infinite;
  margin: auto 0;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

html body input[value="pesquisar CEP"] {
  margin: 0 0 0 10px;
}

html body input[type="submit"] {
  margin: 0 0 0 30px;
}
